menu "RT-Thread bsp test case"

config RT_USING_PRIVATE_TEST
    bool "Enable BSP Private TEST"
    default n

    if RT_USING_PRIVATE_TEST
    config RT_USING_COMMON_TEST_DISPLAY
        bool "Enable BSP Common DISPLAY TEST"
        depends on RT_USING_VOP
        default n

    config RT_USING_COMMON_TEST_TOUCH
        bool "Enable Touch TEST"
        depends on RT_USING_PISCES_TOUCH
        default n
    endif

source "$BSP_DIR/../common/tests/Kconfig"

endmenu
